<div class="container">
  <h2 class="titre">Speak to your coach</h2>
  <form action="/answer" method="get">
    <div class="form-group">
      <input type="text" id="question" name="query" placeholder="what time is it?">
    </div>
    <input class="btn btn-primary" type="submit" value="Go on!">
  </form>
</div>
